absl-py
aioboto3
aiobotocore
aiofiles
aiohappyeyeballs
aiohttp
aioitertools
aiosignal
annotated-doc
annotated-types
anthropic
antlr4-python3-runtime
anyio
asttokens
atroposlib
attrs
beautifulsoup4
blobfile
boto3
botocore
certifi
cffi
charset-normalizer
chess
chz
clarabel
click
cloudpickle
cvxopt
cvxpy
cylp
datasets
debugpy
decorator
dill
distro
docstring_parser
ecos
executing
Farama-Notifications
fastapi
filelock
frozendict
frozenlist
fsspec
gitdb
GitPython
googleapis-common-protos
grpcio
gurobipy
gymnasium
h11
h2
hf-xet
hf_transfer
hpack
httpcore
httptools
httpx
huggingface-hub
hydra-core
hyperframe
idna
ijson
immutabledict
importlib_metadata
inspect_ai
ipdb
ipython
ipython_pygments_lexers
jedi
Jinja2
jiter
jmespath
joblib
jsonlines
jsonpatch
jsonpath-ng
jsonpointer
jsonref
jsonschema
jsonschema-specifications
latex2sympy2_extended
linkify-it-py
logfire
lxml
Markdown
markdown-it-py
MarkupSafe
math-verify
matplotlib-inline
mdit-py-plugins
mdurl
mmh3
Mosek
mpmath
msgpack
multidict
multiprocess
nest-asyncio
networkx
nltk
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-cufile-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-cusparselt-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvshmem-cu12
nvidia-nvtx-cu12
omegaconf
openai
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-http
opentelemetry-instrumentation
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
ortools
osqp
packaging
pandas
parso
pathlib_abc
pexpect
pillow
platformdirs
ply
polars
polars-runtime-32
prompt_toolkit
propcache
protobuf
psutil
ptyprocess
PuLP
pure_eval
pyarrow
pycparser
pycryptodomex
pydantic
pydantic_cli
pydantic_core
Pygments
pylatexenc
python-dateutil
python-dotenv
pytz
PyYAML
ray
referencing
regex
requests
rich
rpds-py
s3fs
s3transfer
safetensors
scipy
scs
semver
sentry-sdk
shortuuid
six
smmap
sniffio
soupsieve
stack-data
starlette
submitit
sympy
tenacity
termcolor
TextArena
textual
tiktoken
tinker
tokenizers
torch
tqdm
traitlets
transformers
triton
typing-inspection
typing_extensions
tzdata
uc-micro-py
universal_pathlib
urllib3
uv
uvicorn
uvloop
wandb
watchfiles
wcwidth
websockets
wrapt
xai-sdk
xpress
xpresslibs
xxhash
yarl
zipp