numpy
scipy
sympy
mpmath
math-verify
latex2sympy2_extended
matplotlib-inline
cvxpy
cvxopt
ecos
osqp
scs
clarabel
gurobipy
Mosek
cylp
PuLP
ortools
xpress
xpresslibs
networkx
pandas
pyarrow
polars
joblib
tqdm
pillow
